<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> | Yappy GitHub</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Lato', sans-serif;
            max-width: 80%;
            margin: 50px;
            vertical-align: middle;
        }

    </style>
</head>
<body>
    <% if (typeof stack !== 'undefined') { %>
        <% if (typeof status !== 'undefined') { %>
            <h1><%= status %></h1>
        <% } %>

        <pre><%= stack %></pre>
    <% } else { %>
        <h1><%= name %></h1>

        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
    <% } %>

    <% if (typeof link !== 'undefined') { %>
        <p><a href="<%= link %>"><%= link %></a></p>
    <% } %>
    </div>
</body>
</html>