<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Setup | Yappy GitHub</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2>GitHub</h2>
                    <div class="content">
                        <ul>
                            <% githubApp.forEach(function ([install,  repos]) { %>
                                <% const installConnected = connections.some(conn =>
                                    conn.get('type') == 'install' && conn.get('githubId') === install.id
                                ) %>

                                <li><%= install.account.login %> (<%= install.repository_selection %> repositories)
                                    <% if (!installConnected) { %>
                                        <a href="./connect/install/<%= install.id %>" class="button is-small is-primary">Add</a>
                                    <% } %>

                                    <ul>
                                        <% repos.forEach(function (repo) { %>
                                            <% const repoConnected = connections.some(conn =>
                                                conn.get('type') == 'repo' && conn.get('githubId') === repo.id
                                            ) %>
                                            <li>
                                                <%= repo.name %>

                                                <% if (!installConnected && !repoConnected) { %>
                                                    <a href="./connect/repo/<%= repo.id %>" class="button is-small is-primary">Add</a>
                                                <% } %>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <h2>
                            Discord -- <%= setupData.guild_name %> #<%= setupData.channel_name %>
                        </h2>
                        <div class="content">
                            <ul>
                                <% connections.forEach(function (conn) { %>
                                    <li>
                                        <!-- <a href="https://discord.com/channels/<%= conn.get('channelId') %>" target="_blank">
                                            #<%= conn.get('channelId') %>
                                        </a> -->

                                        <!-- <%= githubApp[0][0].account.id %> -->

                                        <% const result = conn.get('type') == 'install'
                                            ? githubApp.map(v => v[0]).find(v => v?.id == conn.get('githubId'))
                                            : githubApp.map(v => v[1]?.find(v => v.id == conn.get('githubId'))).filter(Boolean)[0]  %>
                                        <% const ghName = (conn.get('type') == 'install'
                                            ? result?.account?.login
                                            : result?.full_name || result?.name
                                        ) || conn.get('github_name') %>

                                        <a href="https://github.com/<%= ghName %>" target="_blank">
                                            <%- ghName %>
                                        </a>

                                        (<%= conn.get('type') %>)
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>